body {font-family: 'Times New Roman', Times, serif, sans-serif, Verdana, Geneva, Tahoma;}
h1 {background-color: aqua;}
em {color: red;}
strong {color: red;}
p {background-color: palevioletred;}
h2 {color: brown;}
h2 {font-family: cursive, Times, serif;}